@font-face {
  font-family: IRANYekanWeb;
  src: url(./test.woff2) format("woff2");
}

html,
body,
#root {
  direction: rtl;
  height: 100%;
  width: 100%;
  /*TODO: remove px after zero */
  margin: 0px;
  padding: 0px;
  font-family: IRANYekanWeb;
}
