@font-face {
  font-family: IRANYekanWeb;
  src: url(style/fonts/IranYekanX/woff2/IRANYekanX-Medium.woff2) format("woff2");
}

html,
body,
#root {
  direction: rtl;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: IRANYekanWeb;
}
